#pong {
	position: fixed; /* Sit on top of the page content */
    /*display: none;  Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 90%; /* Full height (cover the whole page) */
    top: 53px; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent; /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
    /*cursor: pointer;  Add a pointer on hover */
	opacity: 0.2;
}

.jumbotron {
	background-color: transparent !important;
}

.fg {
	position: relative;
	z-index: 1;
}